<!-- console $ pug -w ./ -o ./ -P-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>credit-card-checkout</title>
    <link rel="stylesheet" href="./layout.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>

<body>

    <div class=corp-logo>
        <i class="fab fa-fort-awesome"></i>
        とあるショップ
    </div>
    <div id="credit-card-checkout">
        <div class="left-box">
            <div class="card-box">
                <div class="card-number">
                    {{ card_number }}
                </div>
                <div class="card-info">
                    <div>
                        名義
                        <div class="info-prop">
                            {{ card_holder }}
                        </div>
                    </div>
                    <div>
                        有効期限
                        <div class="info-prop">
                            {{ expiry_date }}
                        </div>
                    </div>
                    <div>
                        CVC
                        <div class="info-prop">
                            {{ card_cvc }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-box">
            <div class="term-title">
                支払情報
            </div>
            <div>
                <label>カード番号
                    <input type="text" v-model="card_number">
                </label>
                <label>名義
                    <input type="text" v-model="card_holder">
                </label>
                <div class="bottom-input">
                    <label>有効期限
                        <input type="text" v-model="expiry_date">
                    </label>
                    <label>CVC
                        <input type="text" v-model="card_cvc">
                    </label>
                </div>
            </div>
            <button>
                確認
            </button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./vue.js"></script>
</body>

</html>