@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap");

:root {
    --main-color: #51ace1;
    --main-color-shadow: #2596d9;
    --font-color: #093149;
    --bg-color: #f4f9fc;
    font-family: "Noto Sans JP", sans-serif;
    color: var(--font-color);
    font-weight: 300;
    font-size: 20px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
}

.corp-logo {
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}
.corp-logo i {
    /* color: var(--main-color); */
}

#credit-card-checkout {
    width: 90vw;
    max-width: 1080px;
    min-width: 720px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.left-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-box {
    background-color: var(--main-color);
    background: linear-gradient(
        175deg,
        var(--main-color),
        var(--main-color-shadow)
    );
    width: 360px;
    height: 240px;
    border-radius: 16px;
    box-shadow: 2px 4px 16px 4px rgba(0, 0, 0, 0.2);
    color: var(--bg-color);
    padding: 0px 20px;
}

.card-number {
    height: 40px;
    margin-top: 30%;
    letter-spacing: 4px;
    font-weight: 700;
}

.card-info {
    margin-top: 40px;
    font-size: 11px;
    display: flex;
}
.card-info > div:first-child {
    width: 40%;
}
.card-info > div {
    width: 30%;
}
.info-prop {
    font-size: 12px;
    font-weight: 700;
    margin-top: 4px;
}

.right-box {
    width: 30%;
}

.term-title {
    /* text-align: center; */
    font-size: 22px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 60px;
}

label {
    display: block;
    margin-bottom: 40px;
    font-size: 16px;
}

input {
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 6px 4px;
    margin: 10px 0px;
    border: none;
    border-bottom: 2px solid var(--main-color);
    background-color: var(--bg-color);
    color: var(--font-color);
    font-weight: 700;
}

input:focus {
    border: none;
    border-bottom: 2px solid var(--main-color);
    outline: 0;
}

button {
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

.bottom-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-input > label:nth-child(2) {
    width: 40%;
    margin-left: 40px;
}
