* {
    padding: 0;
    margin: 0;
}

:root {
    --color-back: ghostwhite;
    --color-font: black;
    --color-point: yellow;
    --color-bgline: gainsboro;
}

body {
    color: var(--color-font);
}

ul.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 320px);
    grid-auto-rows: 320px;
    grid-gap: 10vw;
    margin: 40px 0;
}

ul.grid li {
    list-style: none;
    border: 1px solid var(--color-font);
    border-radius: 8px;
    box-shadow: 0px 0px 4px 1px #ccc;
}

ul.grid li > div {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100%;
}

.button1 {
    /* display: block; */
    width: 96px;
    height: 48px;
}

.background-pattern {
    background-color: var(--color-back);
    background-image: linear-gradient(-90deg, var(--color-bgline) 5%, transparent 6%), linear-gradient(var(--color-bgline) 5%, transparent 6%);
    background-size: 20px 20px;
    background-attachment: fixed;
}
