<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <div id="app">
        <h1>ガチャ: N回引いてM回当たる確率</h1>
        <div>
            <label for="">ガチャの回数: </label>
            <input type="number" v-model="times">回
        </div>
        <div>
            <label for="">出る確率: </label>
            <input type="number" v-model="inputProb">%
        </div>
        <div>
            <label for="">少なくとも何回出るか: </label>
            <input type="number" v-model="num">回
        </div>
        <div>
            <p>{{num}}回出る確率:{{ despProbNTimes }}%</p>
            <p>{{num}}回以上出る確率:{{ despProbOverNTimes }}%</p>
            <p>{{num}}回未満しか出ない確率:{{ despProbUnderNTimes }}%</p>
            <p>全確率:{{ test1 }}</p>
        </div>
    </div>
    
    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    times: 10,
                    inputProb: 1,
                    num: 2,
                }
            },
            computed: {
                prob() {
                    return this.inputProb * 0.01;
                },
                resultProb() {
                    
                    return 0;
                },
                despProbNTimes() {
                    return this.desp(this.probNTimes(this.times, this.prob, this.num));
                },
                despProbOverNTimes() {
                    return this.desp(this.probOverNTimes(this.times, this.prob, this.num));
                },
                despProbUnderNTimes() {
                    return this.desp(this.probUnderNTimes(this.times, this.prob, this.num-1));
                },
                test1() {
                    return this.desp(this.probOverNTimes(this.times, this.prob, this.num) + this.probUnderNTimes(this.times, this.prob, this.num - 1));
                },
            },
            methods: {
                p(a, b) {
                    let res = 1;
                    for (let i = b; i > 0; i--) {
                        res *= a;
                        a--;
                    }
                    return res;
                },
                c(a, b) {
                    return this.p(a, b) / this.p(b, b);
                },
                probNTimes(times, prob, num) {
                    return this.c(times, num) * (prob ** num) * ((1-prob)**(times-num));
                },
                probOverNTimes(times, prob, num) {
                    let res = 0;
                    for(let i=num; i<=times; i++) {
                        res += this.probNTimes(times, prob, i);
                    }
                    return res;
                },
                probUnderNTimes(times, prob, num) {
                    let res = 0;
                    for (let i = num; i >= 0; i--) {
                        res += this.probNTimes(times, prob, i);
                    }
                    return res;
                },
                desp(num) {
                    return (num * 100).toFixed(8);
                }
            }
        }).mount('#app')
    </script>
</body>
</html>