@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
}
*:focus {
    outline: none;
}

html {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: dimgray;

    /* margin: 20px;
    padding: 15px 20px; */
}

body {
    background-color: floralwhite;

    display: flex;
    justify-content: center;
    align-items: center;
}

.center-wrap {
    width: 95vw;
    max-width: 720px;
    min-width: 320px;
    margin: auto;
    text-align: center;
}

.page-login {
    width: 100%;
    margin: 120px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span.app-title {
    margin: 0px;
    padding: 0px;
    font-size: 100px;
    font-weight: 700;
}

input {
    width: 80%;
    max-width: 400px;
    margin: 20px;
    padding: 15px 20px;
    display: block;
    /* background-color: floralwhite; */
    border-radius: 8px;
    border: 4px solid dimgray;
}

button {
    margin: 20px;
    padding: 15px 20px;
    display: inline-block;
    cursor: pointer;
    background-color: salmon;
    border-radius: 8px;
    border: 0px solid dimgray;
    color: floralwhite;
}

.page-home {
    width: 100%;
    margin: 120px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-alpha {
    margin-bottom: 40px;
    padding: 100px 40px;
    border-radius: 20px;
    border: 4px solid dimgray;
    background-color: dimgray;
    display: flex;
}
.grid-alpha * {
    color: floralwhite;
}

.feeling-select {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feel-set {
    width: 140px;
    height: 140px;
    margin: 20px 20px;
    border: 4px solid dimgray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.feel-set:hover {
    border: 4px solid salmon;
    color: salmon;
}

.date-text {
    font-size: 16px;
}

.time-text {
    font-size: 48px;
}
.time-text span {
    opacity: 1;
    animation: 1s ease-in 0s infinite alternate none running time-anime;
}
@keyframes time-anime {
    100% {
        opacity: 0;
    }
}
