:root {
    --color-back1: #282D34;
    --color-back2: #1A1E24;
    --color-line: #6B7885;
    --color-text: #A1AEBE;
    
    
}

@font-face {
    font-family: 'importFont01';
    src: url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');
}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark {
    background-color: var(--color-back1);
    color: var(--color-text);
    overflow: hidden;
}

.dark h1 {
    color: var(--color-text);
}

.dark canvas {
    background-color: var(--color-back2);
    /* border: 10px solid var(--color-line); */
    filter: drop-shadow(0px 0px 2px black);
}

canvas {
    display: block;
    /* border: 1px solid var(--color-line); */
    /* margin: 1.0rem; */
}