$main-color : khaki;

$menu_width: 320px;
$menu_height: 40px;
$mochi_num: 3;
$mochi_r: 60px;
$margin: calc( ( #{$menu_width} - #{$mochi_r} * #{$mochi_num} ) / (#{$mochi_num} + 1.0) );


* {
    margin: 0px;
    padding: 0px;
}

body {
    background: tan;
    width: 100vw;
    height: 100vh;
}

    #mochi_menu {
        margin: auto;
        
    }

    #blur-layer {
        overflow: hidden;
        position: absolute;
        -webkit-filter: url("#blur");
        filter: url("#blur");
    }
    .menu-size-wrapper {
        padding: 64px;
        width: $menu_width;
        height: $menu_height * 2;
    }

    .menu-block {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $menu_width;
        height: $menu_height;
    }
    .menu-relative {
        position: relative;
        margin: auto;
        width: $menu_width + 128px;
        height: $menu_height * 2 + 128px;
    }
    #menu-icon-layer {
        position: absolute;
        z-index: 1;
    }
    .menu-icon {
        position: absolute;
        z-index: 1;
        top: $menu_height/2;
        left: $mochi_r/2;
        transform: translate(-50%, -50%);
        color: tan;
        font-size: $mochi_r * 0.3;
        transition: all 1s ease-out;
        
    }
    .menu-icon-drop {
        top: $menu_height + $mochi_r/2;
        font-size: $mochi_r * 0.4;
        transition: all 1s ease-in;
    }
    .menu-rect {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $menu_width;
        height: $menu_height;
        background: snow;
        
    }
    .swell_normal{
        animation: swell 0.5s ease-out 0s 2 alternate both running;
    }
    @keyframes swell {
        0% {
            width: $menu_width;
            height: $menu_height;
        }
        100% {
            width: $menu_width+8px;
            height: $menu_height+8px;
        }
    }
    .swell_0_to_X{
        animation: swell_0_to_X 1s ease-out 0s 1 alternate both running;
    }
    @keyframes swell_0_to_X {
        0% {
            width: $menu_width+8px;
            height: $menu_height+8px;
        }
        100% {
            width: $menu_width;
            height: $menu_height;
        }
    }
    .swell_X_to_0{
        animation: swell_X_to_0 1s ease-out 0s 1 alternate both running;
    }
    @keyframes swell_X_to_0 {
        0% {
            width: $menu_width;
            height: $menu_height;
        }
        100% {
            width: $menu_width+8px;
            height: $menu_height+8px;
        }
    }
    

    .click-box {
        position: absolute;
        // border: gray solid 1px;
        z-index: 3;
        top: 0px;
        width: $mochi_r;
        height: $menu_height;
        cursor: pointer;
    }.click-box-drop {
        height: $menu_height + $mochi_r;
    }
    .mochi {
        position: absolute;
        background: snow;
        top: $menu_height * 1;
        width: $mochi_r;
        height: $mochi_r;
        border-radius: 50%;
        cursor: pointer;
        transition: all 1s ease-in-out;
    }


    @for $i from 1 through $mochi_num {
        .position-#{$i}{
            left: calc(#{$margin} + (#{$margin} + #{$mochi_r} ) * (#{$i} - 1));
        }
    }

    .drop_normal {
        top: 40px;
        animation: drop 1s ease-in-out 0s 1 alternate none running;
        transition: all 1s ease-in;
    }

    @keyframes drop {
        0% {
            top: $menu_height * 1;
        }
        50% {
            top: $menu_height * 0;
        }
        100% {
            top: $menu_height * 1;
        }
    }
    .drop_0_to_X {
        animation: drop_0_to_X 1s ease-in-out 0s 1 alternate both running;
    }
    @keyframes drop_0_to_X {
        0% {
            top: $menu_height * 0;
        }
        100% {
            top: $menu_height * 1;
        }
    }
    .drop_X_to_0 {
        top: 0px;
        animation: drop_X_to_0 1s ease-in-out 0s 1 alternate both running;
    }
    @keyframes drop_X_to_0 {
        0% {
            top: $menu_height * 1;
        }
        100% {
            top: $menu_height * 0;
        }
    }

    #content-wrapper {
        margin: 30px auto;
        padding: 30px;
        width: 280px;
        height: 280px;
        background-color: snow;
        border-radius: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-icon {
        display: inline-block;
        color: tan;
    }
    .content-icon i {
        opacity: 0.5;
        font-size: 64px;
        animation: blink 1.5s ease-in-out 0s infinite alternate both running;
    }
    @keyframes blink {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0.5;
        }
    }

