$main-color : khaki;

$menu_width: 320px;
$menu_height: 40px;
$mochi_num: 3;
$mochi_r: 60px;
$margin: calc( ( #{$menu_width} - #{$mochi_r} * #{$mochi_num} ) / (#{$mochi_num} + 1.0) );


* {
        margin: 0px;
        padding: 0px;
    }

    body {
        background: tan;
        width: 100%;
        height: 100%;
    }

    #mochi_menu {
        margin: auto;
        
    }

    #blob-loader {
        overflow: hidden;
        position: relative;
        -webkit-filter: url("#blob");
        filter: url("#blob");
    }
    .menu-size-wrapper {
        padding: 64px;
        width: $menu_width;
        height: $menu_height * 2;
    }

    .menu-block {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $menu_width;
        height: $menu_height;
    }
    .menu-icon-layer {
        position: absolute;
        z-index: 1;
    }
    .menu-icon {
        position: absolute;
        z-index: 1;
        top: $menu_height/2;
        left: $mochi_r/2;
        transform: translate(-50%, -50%);
        color: tan;
        
    }
    .menu-rect {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $menu_width;
        height: $menu_height;
        background: snow;
        
    }
    .anime_swell{
        width: $menu_width;
        height: $menu_height;
        animation: swell 1s ease 0s 1 alternate both running;
    }
    @keyframes swell {
        0% {
            width: $menu_width;
            height: $menu_height;
        }
        50% {
            width: $menu_width+8px;
            height: $menu_height+8px;
        }
        // 90% {
        //     width: $menu_width - 2px;
        //     height: $menu_height - 2px;
        // }
        100% {
            width: $menu_width;
            height: $menu_height;
        }
    }

    .click-box {
        position: absolute;
        border: gray solid 1px;
        z-index: 3;
        top: 0px;
        width: $mochi_r;
        height: $menu_height;
    }

    .mochi {
        position: absolute;
        background: snow;
        top: $menu_height * 1;
        width: $mochi_r;
        height: $mochi_r;
        border-radius: 50%;
        transition: all 1s ease;
    }


    @for $i from 1 through $mochi_num {
        .position-#{$i}{
            left: calc(#{$margin} + (#{$margin} + #{$mochi_r} ) * (#{$i} - 1));
        }
    }

    .anime_drop {
        top: 40px;
        animation: drop 1s ease 0s 1 alternate both running;
    }

    @keyframes drop {
    0% {
        top: $menu_height * 1;
    }
    50% {
        top: $menu_height * 0;
    }
    // 90%{
    //     top: $menu_height * 1.1;
    // }
    100% {
        top: $menu_height * 1;
    }
}
