* {
  margin: 0px;
  padding: 0px;
}

body {
  background: tan;
  width: 100vw;
  height: 100vh;
}

#mochi_menu {
  margin: auto;
}

#blur-layer {
  overflow: hidden;
  position: absolute;
  -webkit-filter: url("#blur");
  filter: url("#blur");
}

.menu-size-wrapper {
  padding: 64px;
  width: 320px;
  height: 80px;
}

.menu-block {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 320px;
  height: 40px;
}

.menu-relative {
  position: relative;
  margin: auto;
  width: 448px;
  height: 208px;
}

#menu-icon-layer {
  position: absolute;
  z-index: 1;
}

.menu-icon {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: tan;
  font-size: 18px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.menu-icon-drop {
  top: 70px;
  font-size: 24px;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.menu-rect {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 320px;
  height: 40px;
  background: snow;
}

.swell_normal {
  -webkit-animation: swell 0.5s ease-out 0s 2 alternate both running;
          animation: swell 0.5s ease-out 0s 2 alternate both running;
}

@-webkit-keyframes swell {
  0% {
    width: 320px;
    height: 40px;
  }
  100% {
    width: 328px;
    height: 48px;
  }
}

@keyframes swell {
  0% {
    width: 320px;
    height: 40px;
  }
  100% {
    width: 328px;
    height: 48px;
  }
}

.swell_0_to_X {
  -webkit-animation: swell_0_to_X 1s ease-out 0s 1 alternate both running;
          animation: swell_0_to_X 1s ease-out 0s 1 alternate both running;
}

@-webkit-keyframes swell_0_to_X {
  0% {
    width: 328px;
    height: 48px;
  }
  100% {
    width: 320px;
    height: 40px;
  }
}

@keyframes swell_0_to_X {
  0% {
    width: 328px;
    height: 48px;
  }
  100% {
    width: 320px;
    height: 40px;
  }
}

.swell_X_to_0 {
  -webkit-animation: swell_X_to_0 1s ease-out 0s 1 alternate both running;
          animation: swell_X_to_0 1s ease-out 0s 1 alternate both running;
}

@-webkit-keyframes swell_X_to_0 {
  0% {
    width: 320px;
    height: 40px;
  }
  100% {
    width: 328px;
    height: 48px;
  }
}

@keyframes swell_X_to_0 {
  0% {
    width: 320px;
    height: 40px;
  }
  100% {
    width: 328px;
    height: 48px;
  }
}

.click-box {
  position: absolute;
  z-index: 3;
  top: 0px;
  width: 60px;
  height: 40px;
  cursor: pointer;
}

.click-box-drop {
  height: 100px;
}

.mochi {
  position: absolute;
  background: snow;
  top: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.position-1 {
  left: calc(calc( ( 320px - 60px * 3 ) / (3 + 1.0)) + (calc( ( 320px - 60px * 3 ) / (3 + 1.0)) + 60px ) * (1 - 1));
}

.position-2 {
  left: calc(calc( ( 320px - 60px * 3 ) / (3 + 1.0)) + (calc( ( 320px - 60px * 3 ) / (3 + 1.0)) + 60px ) * (2 - 1));
}

.position-3 {
  left: calc(calc( ( 320px - 60px * 3 ) / (3 + 1.0)) + (calc( ( 320px - 60px * 3 ) / (3 + 1.0)) + 60px ) * (3 - 1));
}

.drop_normal {
  top: 40px;
  -webkit-animation: drop 1s ease-in-out 0s 1 alternate none running;
          animation: drop 1s ease-in-out 0s 1 alternate none running;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

@-webkit-keyframes drop {
  0% {
    top: 40px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 40px;
  }
}

@keyframes drop {
  0% {
    top: 40px;
  }
  50% {
    top: 0px;
  }
  100% {
    top: 40px;
  }
}

.drop_0_to_X {
  -webkit-animation: drop_0_to_X 1s ease-in-out 0s 1 alternate both running;
          animation: drop_0_to_X 1s ease-in-out 0s 1 alternate both running;
}

@-webkit-keyframes drop_0_to_X {
  0% {
    top: 0px;
  }
  100% {
    top: 40px;
  }
}

@keyframes drop_0_to_X {
  0% {
    top: 0px;
  }
  100% {
    top: 40px;
  }
}

.drop_X_to_0 {
  top: 0px;
  -webkit-animation: drop_X_to_0 1s ease-in-out 0s 1 alternate both running;
          animation: drop_X_to_0 1s ease-in-out 0s 1 alternate both running;
}

@-webkit-keyframes drop_X_to_0 {
  0% {
    top: 40px;
  }
  100% {
    top: 0px;
  }
}

@keyframes drop_X_to_0 {
  0% {
    top: 40px;
  }
  100% {
    top: 0px;
  }
}

#content-wrapper {
  margin: 30px auto;
  padding: 30px;
  width: 280px;
  height: 280px;
  background-color: snow;
  border-radius: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-icon {
  display: inline-block;
  color: tan;
}

.content-icon i {
  opacity: 0.5;
  font-size: 64px;
  -webkit-animation: blink 1.5s ease-in-out 0s infinite alternate both running;
          animation: blink 1.5s ease-in-out 0s infinite alternate both running;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
/*# sourceMappingURL=layout.css.map */